body{
    background-size: cover;
}

.heading{
    width: 100%;
    margin: 0px;
    font-size: 28px;
}

.note{
    font-size: 23px;
    color:black;
}

.div_speed{
    float: left;
}

.div_img{
    width: 200px;
    border-radius: 100px;
}

#speed,#volume{
    font-size: 23px;
    margin-left: -17px;
}

.div_volume{
    float: right;
}

canvas {
    border-radius: 10px;
    border: 5px dashed cornflowerblue;
    margin-top: 100px;
}